.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.7)), url("../img/hero-picture.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed; }
  .header .fixed-nav {
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
    float: right; }
    .header .fixed-nav .openMenu, .header .fixed-nav .icons i {
      font-size: 2rem;
      margin: 20px;
      display: none;
      cursor: pointer; }
      @media (max-width: 500px) {
        .header .fixed-nav .openMenu, .header .fixed-nav .icons i {
          display: block;
          color: white; } }
    .header .fixed-nav .test {
      margin: auto;
      top: 0;
      background: black;
      position: fixed;
      padding: 0;
      left: 0;
      z-index: 1000;
      width: 100%; }
    .header .fixed-nav ul {
      flex: 1;
      text-align: right; }
      .header .fixed-nav ul .closeMenu, .header .fixed-nav ul .icons i {
        font-size: 2rem;
        display: none;
        cursor: pointer; }
      .header .fixed-nav ul li {
        text-transform: capitalize;
        position: relative;
        display: inline-block; }
        .header .fixed-nav ul li ::after {
          content: '';
          width: 0%;
          height: 2px;
          background: #2fc5eb;
          display: block;
          margin: auto;
          transition: 0.5s; }
        .header .fixed-nav ul li :hover::after {
          width: 100%;
          transition: 0.5s; }
        .header .fixed-nav ul li a {
          display: block;
          text-align: center;
          text-decoration: none;
          color: white;
          padding: 14px 16px;
          letter-spacing: 1px; }
  .header .title {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header .title h1 {
      font-size: 100px; }
      @media (max-width: 500px) {
        .header .title h1 {
          font-size: 50px; } }
    .header .title p {
      margin: 10px 0px 40px;
      font-size: 16px;
      color: #fff; }
    .header .title a {
      text-decoration: none;
      color: #2fc5eb;
      border: solid #2fc5eb 1px;
      border-radius: 50px;
      padding: 10px 25px 10px 25px; }
    .header .title a:hover {
      background-color: white;
      transition: 0.6s;
      color: #09143b;
      border: none; }
  @media (max-width: 500px) {
    .header nav .nav-header {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #04091e;
      transition: top 1s ease;
      display: none;
      font-size: 30px; }
    .header nav #fixed-nav .nav-header .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      color: white; } }
